<div id="post-{{post.id}}" class="post my-2 border rounded">

  <div class="post-buttons d-flex m-2">
    <button type="button" data-id="{{post.id}}" class="delete-post-button btn btn-danger">Delete</button>

    <!-- UPDATE A POST ITEM-->
    <div class="dropdown mx-2">
      <!-- UPDATE A POST DROPDOWN BUTTON MENU -->
      <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Update </button>

      <!-- DROPDOWN MENU UPDATE A POST -->
      <div class="dropdown-menu">
        <form class="px-4 py-3 d-flex flex-column update-post-form" data-id="{{post.id}}">
          <div class="form-group">
            <textarea required minlength="8" maxlength="64" type="text" placeholder="Write your updated descrpition here" name="post[text]" class="textarea"></textarea>
          </div>
          <input type="submit" data-id="{{post.id}}" value="Update post">
        </form>
        <!-- DROPDOWN MENU UPDATE A POST END -->
      </div>
      <!-- DROPDOWN END -->
    </div>
  </div>

  <h4 id="post-text-{{post.id}}" class="post-text m-2 font-italic">{{post.text}}</h4>

</div>
