{{#each posts as |post|}}

  <div id="post-{{post._id}}" class="post m-2 border rounded p-2">

    <div class="post-buttons d-flex m-2">
      <button type="button" data-id="{{post._id}}" class="delete-post-button btn btn-outline-light">Delete</button>

      <!-- UPDATE A POST ITEM-->
      <div class="dropdown mx-2">
        <!-- UPDATE A POST DROPDOWN BUTTON MENU -->
        <button class="btn btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Update</button>

        <!-- DROPDOWN MENU UPDATE A POST -->
        <div class="dropdown-menu">
          <form class="px-4 py-3 d-flex flex-column update-post-form" data-id="{{post._id}}">
            <div class="form-group">
              <textarea required minlength="8" maxlength="64" type="text" placeholder="Write your updated descrpition here" name="dungeons[description]" class="textarea"></textarea>
            </div>
            <input type="submit" data-id="{{post._id}}" value="Update post">
          </form>
          <!-- DROPDOWN MENU UPDATE A POST END -->
        </div>
        <!-- DROPDOWN END -->
      </div>
    </div>

    <h4 class="post-text m-2 font-italic">{{post.dungeonName}}<br />{{post.description}}</h4>

  </div>

{{/each}}
